<mat-card class="my-card" >
  <mat-card-header>
    <mat-card-title>Lucy</mat-card-title>
    <mat-card-subtitle>Fer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image 
    src="https://lh3.googleusercontent.com/proxy/p5alGtpAMh54lDEMfnesAUXPngy_wYFKOWVhcCCPvMUeWHiQHBcQV2ONAyOp6JIKenfPNr75PNyzsIC4dNaNAR__XoNy7bKMZpJrYAulSCcwS1Ok"
    alt="teste">
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent">LIKE</button>
    <button mat-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>
