<div> <!--fxFill-->
  <button color="primary" (click)="observableCreate()">Create / observable</button>
  <button color="warn" (click)="fromClick()">from</button>
  <button color="primary" (click)="ofClick()">of</button>
  <button color="warn" (click)="intervalClick()">interval</button>
  <button color="warn" (click)="timerClick()">timer</button>
  <button color="warn" (click)="timerClick()">timer</button>
  <button color="warn" (click)="fromEventClick()">fromEvent</button>
  <button color="warn" (click)="unsubscribeClick()">unsubscribe</button>
</div>