<mat-card>
  <mat-card-title>
    Select
  </mat-card-title>
  <mat-card-content>
    Please, select one class:
    <form >
      <select placeholder="Choose the Class:" [(ngModel)] = "myClass" name="myClass">
        <option value="myclass1">class 1</option>
        <option value="myclass2">class 2</option>
        <option value="myclass3">class 3</option>
        <option value="myclass4">Class 4</option>
      </select>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <p [ngClass] = "myClass">TEST</p>
  </mat-card-footer>
</mat-card>

